{
	"openapi": "3.1.0",
	"info": {
		"title": "Bullet API",
		"version": "1.0.0",
		"description": "REST API for managing entries (tasks, notes, events) with collections and tags."
	},
	"servers": [
		{
			"url": "https://api.bullet.to/v1"
		}
	],
	"security": [
		{
			"bearerAuth": []
		}
	],
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"description": "Bearer token with blt_ prefix"
			}
		},
		"schemas": {
			"Entry": {
				"type": "object",
				"required": [
					"id",
					"title",
					"kind",
					"start",
					"period",
					"importance",
					"status",
					"collection_id",
					"tag_ids",
					"created_at",
					"updated_at"
				],
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"title": {
						"type": "string",
						"minLength": 1,
						"maxLength": 500
					},
					"kind": {
						"type": "string",
						"enum": ["task", "note", "event"]
					},
					"start": {
						"type": ["string", "null"],
						"description": "Schedule start. Format varies: YYYY-MM-DD (day/week), YYYY-MM (month), YYYY (year), ISO 8601 datetime with TZ (timed event), local datetime without TZ (timed task/note). Null for inbox entries."
					},
					"period": {
						"type": ["string", "null"],
						"enum": ["day", "week", "month", "year", null],
						"description": "Schedule period: day, week, month, or year. Null for timed entries and inbox."
					},
					"importance": {
						"type": ["integer", "null"],
						"minimum": 1,
						"maximum": 3,
						"description": "Importance level (1-3)"
					},
					"status": {
						"type": ["string", "null"],
						"description": "Task status. Null for notes and events."
					},
					"collection_id": {
						"type": ["string", "null"],
						"format": "uuid"
					},
					"tag_ids": {
						"type": "array",
						"items": {
							"type": "string",
							"format": "uuid"
						}
					},
					"collection": {
						"$ref": "#/components/schemas/Collection"
					},
					"tags": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Tag"
						}
					},
					"created_at": {
						"type": "string",
						"format": "date-time"
					},
					"updated_at": {
						"type": "string",
						"format": "date-time"
					}
				}
			},
			"Collection": {
				"type": "object",
				"required": ["id", "title", "color", "parent_id", "archived"],
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"title": {
						"type": "string"
					},
					"color": {
						"type": ["string", "null"]
					},
					"parent_id": {
						"type": ["string", "null"],
						"format": "uuid"
					},
					"archived": {
						"type": "boolean"
					}
				}
			},
			"Tag": {
				"type": "object",
				"required": ["id", "label", "color", "archived"],
				"properties": {
					"id": {
						"type": "string",
						"format": "uuid"
					},
					"label": {
						"type": "string"
					},
					"color": {
						"type": ["string", "null"]
					},
					"archived": {
						"type": "boolean"
					}
				}
			},
			"PaginatedResponse": {
				"type": "object",
				"required": ["data", "has_more"],
				"properties": {
					"data": {
						"type": "array"
					},
					"cursor": {
						"type": ["string", "null"]
					},
					"has_more": {
						"type": "boolean"
					}
				}
			},
			"CreateEntryRequest": {
				"type": "object",
				"required": ["title", "kind"],
				"properties": {
					"title": {
						"type": "string",
						"minLength": 1,
						"maxLength": 500
					},
					"kind": {
						"type": "string",
						"enum": ["task", "note", "event"]
					},
					"start": {
						"type": "string",
						"description": "ISO date or datetime; omit for inbox"
					},
					"period": {
						"type": "string",
						"enum": ["day", "week", "month", "year"],
						"default": "day"
					},
					"importance": {
						"type": "integer",
						"minimum": 1,
						"maximum": 3
					}
				}
			},
			"UpdateEntryRequest": {
				"type": "object",
				"properties": {
					"title": {
						"type": "string",
						"minLength": 1,
						"maxLength": 500
					}
				}
			}
		}
	},
	"paths": {
		"/entries": {
			"get": {
				"operationId": "listEntries",
				"summary": "List entries with optional filtering and pagination",
				"description": "List entries with optional view and filters.\n\n**Views** (inbox, overdue) are self-contained presets. **Filters** (period, status, kind, collection, tag) narrow results further. Some combinations are invalid:\n\n| Filter | inbox | overdue | (none) |\n|--------|-------|---------|--------|\n| period | no | no | yes |\n| status | yes | no | yes |\n| kind | yes | no | yes |\n| collection | no | yes | yes |\n| tag | no | yes | yes |",
				"parameters": [
					{
						"name": "view",
						"in": "query",
						"schema": {
							"type": "string",
							"enum": ["inbox", "overdue"]
						}
					},
					{
						"name": "period",
						"in": "query",
						"schema": {
							"type": "string",
							"enum": ["day", "week", "month", "year"]
						},
						"description": "Valid only without views"
					},
					{
						"name": "date",
						"in": "query",
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}(-\\d{2}(-\\d{2})?)?$"
						},
						"description": "Period anchor date. YYYY-MM-DD for day/week, YYYY-MM for month, YYYY for year. Defaults to current date/month/year if omitted."
					},
					{
						"name": "status",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							],
							"enum": ["not_started", "completed", "cancelled"]
						}
					},
					{
						"name": "kind",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							],
							"enum": ["task", "note", "event"]
						}
					},
					{
						"name": "collection",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							]
						},
						"description": "UUID(s)"
					},
					{
						"name": "tag",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							]
						},
						"description": "UUID(s)"
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 200,
							"default": 50
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							],
							"enum": ["collection", "tags"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Paginated list of entries",
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/PaginatedResponse"
										},
										{
											"properties": {
												"data": {
													"type": "array",
													"items": {
														"$ref": "#/components/schemas/Entry"
													}
												}
											}
										}
									]
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "createEntry",
				"summary": "Create a new entry",
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateEntryRequest"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Created entry",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Entry"
								}
							}
						}
					}
				}
			}
		},
		"/entries/{id}": {
			"get": {
				"operationId": "getEntry",
				"summary": "Retrieve a single entry",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"schema": {
							"oneOf": [
								{
									"type": "string"
								},
								{
									"type": "array",
									"items": {
										"type": "string"
									}
								}
							],
							"enum": ["collection", "tags"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Entry object",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Entry"
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "updateEntry",
				"summary": "Update an entry",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateEntryRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Updated entry",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Entry"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteEntry",
				"summary": "Soft-delete an entry",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Deleted (succeeds even if already deleted)"
					}
				}
			}
		},
		"/collections": {
			"get": {
				"operationId": "listCollections",
				"summary": "List all collections",
				"parameters": [
					{
						"name": "archived",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Wrapped array of collections",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": ["data"],
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Collection"
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/collections/{id}": {
			"get": {
				"operationId": "getCollection",
				"summary": "Retrieve a single collection",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Collection object",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Collection"
								}
							}
						}
					}
				}
			}
		},
		"/tags": {
			"get": {
				"operationId": "listTags",
				"summary": "List all tags",
				"parameters": [
					{
						"name": "archived",
						"in": "query",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Wrapped array of tags",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": ["data"],
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Tag"
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tags/{id}": {
			"get": {
				"operationId": "getTag",
				"summary": "Retrieve a single tag",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Tag object",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Tag"
								}
							}
						}
					}
				}
			}
		}
	}
}
